.body_1 {
    padding: 0;
    margin: 0;
}
.header_1 {
    background: url(../images/computer.jpg) no-repeat center top/cover;
    padding-bottom: 160px;
}
.container {
        width: 1140px;
        height: auto;
        margin: 0px auto;
        box-sizing: border-box;
}
.logo_:after {
    content: "";
    display: table;
    width: 100%;
    clear: both;
}
.logo {
    display:block;
    background: url(../images/foliac-logo.png) no-repeat top/cover;
    height: 108px;
    width: 190px;
    margin-top: 40px;
    float: left;

}
.new_nav {
    float: right;
    margin-top: 80px;
    padding: 0px;
    display: block;
    border-right: 3px;
}
.nav_ {
    color: #fff;
    text-decoration: none;
    margin-right: 50px;
    font-size: 14px;
    font-family: sans-serif;
}
.nav_::after {
    margin-left: 50px;
    margin-right: 0px;
    content: "/";
}
.header_  {
    text-transform: uppercase;
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 190px;
    }
.header_h  {
    margin: 30px;
}
.batton {
    background: rgba(0,0,0,0);
    color: #48bf72;
    border: 2px;
    border-radius: 3px;
    border-style: solid;
    width: 138px;
    display: block;
    padding: 15px 0;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    margin-top: 48px;
}
.name {
        font-size:30px;
        font-variant: small-caps;
        color:#73c183;
        font-family: Arial, sans-serif;
        text-align: center;
}
.text_email {
    text-align: center;
    margin-bottom: 0px;

}
.text_email input {
    text-align: start;
    color: #a6a5a5;
    background-color: #f1f1f1;
    width: 295px;
    height: 30px;
    border-radius: 3px;
    border: 2px solid #3c4955 ;
    font-family: Arial, sans-serif;
}

.text_info {
    text-align: center;
    margin: 10px;
}
.text_info textarea{
    text-align: left;
    color: #a6a5a5;
    background-color: #f1f1f1;
    width: 600px;
    height: 130px;
    border-radius: 3px;
    border: 2px solid #3c4955 ;
    word-break: break-all;
}
.snap input {
    border: none;
    border-radius: 3px;
    width: 600px;
    height: 30px;
    background-color: #73c183;
    color: #ffffff;
}

.snap {
    text-align: center;
}
.footer_site {
    margin-top: 50px;
    width: 100%;
    height: 90px;
    background: #3c4955;
}
.lette_site {
    display: block;
    float: left;
    color: white;
    font-size: 14px;
    font-family: monospace;
    margin: 45px 0 45px 0;
    text-align: left;
}
.letter {
    font-weight: bold;
    font-size: 14px;
    font-family: sans-serif;
}
.social {
    margin: 15px 0 15px 0;
    padding: 0;
    float: right;
}
.social_nav {
    display: inline-block;
    width: 390px;
    height: 55px;
}

.social-Twitter {
    display: inline-block;
    width: 53px;
    height: 55px;
    margin-right:  30px;
    background-image: url(../images/social.png);
    background-position: 0px 0;
}
.social-LinkedIn {
    display: inline-block;
    width: 53px;
    height: 55px;
    margin-right:  30px;
    background-image: url(../images/social.png);
    background-position: -90px 0;
}
.social-Dribbble {
    display: inline-block;
    width: 53px;
    height: 55px;
    margin-right:  30px;
    background-image: url(../images/social.png);
    background-position: -180px 0;
}
.social-Behance {
    display: inline-block;
    width: 52px;
    height: 55px;
    margin-right:  30px;
    background-image: url(../images/social.png);
    background-position: -265px 0;
}
